<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BridgeBuddy</title>
    <link rel="stylesheet" href="./functionality-desktop.css">
    <link rel="stylesheet" href="./functionality-laptop.css">
    <link rel="stylesheet" href="./functionality-mobile.css">

        <!-- Inter font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>BridgeBuddy</h1>
            <div class="icons">
                <img class="settings" src="./settings.svg" alt="Settings">
                <img class="profile" src="./profile.svg" alt="Profile">
            </div>
        </div>
        <div class="content">
            <div class="buttons">
                <div class="doc">
                    <img src="./doc.svg" alt="">
                    <h2>Document</h2>
                </div>
                <div class="text">
                    <img src="./t.svg" alt="">
                    <h2>Text</h2>
                </div>
            </div>
            <div class="textarea">
            <div class="input-group">
                <div class="languages">
                    <p>Detect language</p>
                </div>
                <textarea class="dlang" placeholder="Type to translate"></textarea>
            </div>
            <div class="input-group">
                <div class="languages">
                    <div class="lang">
                    <p>French</p>
                    <p id="india">Hindi</p>
                    <p>Norwegian</p>
                    <p>German</p>
                    </div>
                </div>
                <textarea class="tlang" placeholder="Type to translate"></textarea>
            </div>
            </div>
            <div class="formal-buttons">
                <div class="formal">
                    <img src="./formal.svg" alt="">
                    <h2>Formal</h2>
                </div>
                <div class="casual">
                    <img src="./Casual.svg" alt="">
                    <h2>Casual</h2>
                </div>
            </div>

        <div class="translate-button">
            <h2>Translate</h2>
        </div>

        <div class="rbuttons">
            <div class="feedback">
                <img src="./Feedback logo (4).svg" alt="Feedback">
                <h2>Feedback</h2>
            </div>
            <div class="history">
                <img src="./History logo (2).svg" alt="History">
                <h2>History</h2>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; Bridgebuddy, all rights reserved.</p>
        </div>
    </footer>
</body>
</html>